<!doctype html>
<html lang="en">

<head>
  <title>Engineer</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/e1ade17ca6.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="card border-1 rounded" style="width: 18rem; color: white;">
    <div class="card-body bg-primary">
      <h2 class="card-title">{{name}}</h2>
      <h3 class="card-title"><i class="fas fa-glasses fa-1x"></i> Engineer</h3>
    </div>
    <div class="card-body bg-light border-0">
      <ul class="list-group list-group-flush" style="color: black;">
          <li class="list-group-item">ID: {{id}} </li>
          <li class="list-group-item">Email: <a href="mailto:">{{email}}</a></li>
          <li class="list-group-item">GitHub: {{github}}</li>
      </ul>
    </div>
  </div>

  <!-- Optional JavaScript -->
</body>

</html>